.colums__content {
    flex: 0 0 auto;
    width: 25%;
    margin-left: 10px;
    padding-bottom: 30px;
    > * {
        background-color: rgba(255, 255, 255, 0.6);
        color: #333;
        padding: 0 8px;
    }
    .board__title {
        padding-left: 15px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .board__add {
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        color: #0c0404;
        .add__card {
            border-radius: 50%;
            border: 0;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            font-weight: bold;
            line-height: 32px;
            margin: 0 4px 0 0;
            padding: 5px 10px;
            white-space: nowrap;
            cursor: pointer;
        }
    }
    .board__content {
        margin: 0;
        max-height: calc(100% - 36px - 36px);
        overflow-y: hidden;
        margin-bottom: 3px;
        padding-top: 3px;
        padding-bottom: 10px;

        li {
            background-color: #fff2f2;
            padding: 10px;
            border-radius: 3px;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        img.task-cover {
            display: block;
            width: calc(100% + 2 * 10px);
            margin: -10px 0 10px -10px;
        }
    }

    .board__content:hover {
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar {
            width: 20px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.8);
            overflow: auto;
            border: 6px solid transparent;
            background-clip: padding-box;
            border-radius: 20px;
        }
    }
}
