@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello {
  width: 100%;
  color: #fff;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #2ea6d5);
  background-size: 400% 400%;
  position: relative;
  animation: change 60s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:before,
:after {
  box-sizing: border-box;
}
a,
span,
img,
li,
:before,
:after {
  display: inline-block;
}

:focus {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transform: all 0.5s ease;
  -webkit-transform: all 0.5s ease;
  -moz-transform: all 0.5s ease;
  -ms-transform: all 0.5s ease;
  -o-transform: all 0.5s ease;
}

.trello-bootstrap {
  margin: 0 15px;
  padding: 0;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #3f4b527d;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.board__edit{
  border: none;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  resize: none;

  &:focus {
    background-color:#fff2f2;
  }
}

.header__hover {
  border-radius: 3px;
  border: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  display: flex;
  font-weight: bold;
  line-height: 32px;
  margin: 0 4px 0 0;
  padding: 5px 10px;
  white-space: nowrap;

  &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
  }
}